
<section class="bg-success-subtle mt-5 p-5">
   <div class="text-center pt-5">
    <h1>CONTACT SECTION</h1>
    <app-starr2></app-starr2>
</div>

    <div class="container py-3">
        <div class="row ">

            <div class="col-sm-12 py-3 text-center">
             <div>
                <label class="px-3" for="userName">userName:</label>
                <input class="p-3  w-50   border-0  shadow  rounded" type="text" name="userName" id="userName" placeholder="userName">
             </div>

             <div class="col-sm-12 py-3 text-center">
             <div>
                <label class="px-3" for="userAge">userName:</label>
                <input class="p-3  w-50   border-0  shadow  rounded" type="number" name="userAge" id="userAge" placeholder="userAge">
             </div>

            </div>

            <div class="col-sm-12 py-3 text-center">
                <div>
                   <label class="px-3" for="userAge">userEmail:</label>
                   <input class="p-3  w-50   border-0  shadow  rounded" type="email" name="userEmail" id="userEmail" placeholder="userEmail">
                </div>
   
               </div>

               <div class="col-sm-12 py-3 text-center">
                <div>
                   <label class="px-3" for="userPassword">userEmail:</label>
                   <input class="p-3  w-50   border-0  shadow  rounded" type="password" name="userPassword" id="userPassword" placeholder="userPassword">
                </div>
   
               </div>
               <button class="btn btn-warning my-3 px-4 ms-5 btn-outline-success">send massege</button>


             
                
</div>  
            </div>
        </div>
</section>



        
        <app-end></app-end>
   
   