
<section class="p-5 bg-home ">

    <div class="container">
        <div class="row ">
            <div class="col-sm-12 ">
                <div class=" text-center  mt-5">
                     <img src="./assets/images/avataaars (1).svg" class=" w-25" alt="">
                     <div class=" text-white p-4">
                        <h1>start Framework</h1> 
<app-star></app-star>                        
              <p class="p">Graphic Artist - Web Designer - Illustrator</p>
                     </div>

                </div>
               
            </div>
        </div>

    
      
        
      

    </div>


   


  
    
    
    
   

</section>



<app-end></app-end>